extends layout

block content
    .case-page(data-id=id, data-srv-id=srv_id, data-no=NO)
        h1.page-header
            = title
            span.btn-group
                a.btn.btn-sm.btn-default(href=referer, rel='noreferrer') 返回
                a.btn.btn-sm.btn-success.js-save-case(href='#') 保存
        
        -   var loop = function (ary, parentIsList) {
        -       if (!ary || !ary.length) {
        -           ary = [{}]
        -       }
        -       var str = [];
        -       for (var i = 0, len = ary.length, v, isFirst; i < len; i++) {
        -           v = ary[i];
        -           isFirst = i === 0;
        -           str.push('<li>');
        -                   str.push('<div class="line"></div>');
        -                   str.push('<div class="input-wrap" data-metadata="' + (v.metadata || '') + '" data-key="' + (v.key || '') + '">');
        -                       str.push('<strong class="text">' + (v.key || '') + '</strong>');
        -                       str.push('<span class="text">' + (v.remark || '') + '</span>');
        -                       str.push('<span class="text">' + (v.metadata || '') + '</span>');
        -                       if (v.metadata === 'String'){
        -                           str.push('<input type="text" class="js-input form-control" placeholder="String">');
        -                       } else if (v.metadata === 'Number') {
        -                           str.push('<input type="number" class="js-input form-control" placeholder="Number" min="0">');
        -                       } else if (v.metadata === 'Boolean') {
        -                           str.push('<select class="js-boolean">');
        -                               str.push('<option value="1">True</option>');
        -                               str.push('<option value="0">False</option>');
        -                           str.push('</select>');
        -                       } else if (v.metadata === 'Array') {
        -                           str.push('<input type="text" class="js-input form-control" placeholder="Array">');
        -                       }
        -                       if (parentIsList && i === 0) {
        -                          str.push('<button class="js-delete btn-delete btn btn-xs btn-danger">delete</button>');
        -                          str.push('<button class="js-add btn btn-xs btn-success">add</button>');
        -                       }
        -                   str.push('</div>');
        -                   var isList = v.metadata === 'List';
        -                   if (v.metadata === 'Object' || isList) {
        -                       str.push('<ul class="' + (isList ? "list-tree" : "") + '">');
        -                               str.push(loop(v.value, isList));
        -                       str.push('</ul>');
        -                   }
        -           str.push('</li>')
        -       }
        -       return str.join('');
        -   }
        
        h3.sub-header Name
        .case-table-wrapper
            input.form-control.js-name(type='text', placeholder='Name')
        
        h3.sub-header Request
        .case-table-wrapper
            ul.common-list.js-req
                != loop(req)
            
                
        h3.sub-header Response
        .case-table-wrapper
            ul.common-list.js-res
                != loop(res)
                
    script#tpl_single(type='text/template')
        li
            .input-wrap
                input.form-control.js-key(type='text', placeholder='key')
                input.form-control.js-remark(type='text', placeholder='remark')
                select.js-metadata
                  option(value='String') String
                  option(value='Number') Number
                  option(value='Boolean') Boolean
                  option(value='Array') Array
                  option(value='Object') Object
                  option(value='List') List
                button.btn.btn-xs.btn-danger.btn-delete.js-delete delete
                button.btn.btn-xs.btn-success.js-add add
            
    script#tpl_extend(type='text/template')
        ul
            li
                .input-wrap
                    input.form-control.js-key(type='text', placeholder='key')
                    input.form-control.js-remark(type='text', placeholder='remark')
                    select.js-metadata
                        option(value='String') String
                        option(value='Number') Number
                        option(value='Boolean') Boolean
                        option(value='Array') Array
                        option(value='Object') Object
                        option(value='List') List
                    button.btn.btn-xs.btn-delete.btn-danger.js-delete delete
                    button.btn.btn-xs.btn-success.js-add add
