doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/assets/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/assets/css/uniform.default.min.css')
    link(rel='stylesheet', href='/assets/css/style.css')

  body
    nav.nav-mod.fixed-left
        .c
            .navinner
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                span.navlogo 接口自动化测试平台
            #navbar.navmenu
                ul.nav-items
                    li(class=nav === 'service' ? 'active' : '')
                        a(href='/services') 
                            span.icon-database 
                            服务
                    li(class=nav === 'upload' ? 'active' : '')
                        a(href='/upload') 
                            span.icon-upload 
                            上传契约


    .wrap(role="main")
        .wrapper
            include ./parts/toast.jade
            block content

    include ./parts/loading.jade


    script(src='/assets/js/jquery-2.1.4.min.js')
    script(src='/assets/js/bootstrap-3.3.5.min.js')
    script(src='/assets/js/underscore-min.js')
    script(src='/assets/js/script.js')
