doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/bootstrap-theme.css')

  body
    block content

    script(src='/assets/js/jquery-2.1.4.min.js')
    script(src='/assets/js/bootstrap-3.3.5.min.js')