extends layout

block content
    h1.page-title= title
    .panel.panel-default

        table.table.table-striped.js-service-table
            thead
                tr(data-id="")

                    th Name
                    th URL
                    th Action
            tbody
                include ./parts/service-list.jade
