extends layout

block content
    .upload-page
        h1.page-header
             p 上传契约
        iframe(id="uploadTrg", name="uploadTrg", height="0", width="0", frameborder="0", scrolling="yes")
        form(action="uploadhandler", id="uploadForm" method="post", enctype = "multipart/form-data", target="uploadTrg")
          input(type="file", name="contractfile")
          input.btn.btn-sm.btn-success(type="submit", value="上传")
